#{{ ansible_managed }}
{# Set start hour and minute. We are going to run scripts with 5 minute intervals #}
{% set time = {'h': 4, 'm': 4} %}

# +------------- min (0 - 59)
# | +----------- hour (0 - 23)
# | | +--------- day of month (1 - 31)
# | | | +------- month (1 - 12)
# | | | | +----- day of week (0 - 6) (Sunday=0)
# | | | | |
# - - - - -
# * * * * * command to be executed
{% for host in (groups[letsencrypt_group] if letsencrypt_group else [inventory_hostname]) %}
{% if hostvars[host].letsencrypt is defined %}
{% for item in hostvars[host].letsencrypt %}
{% if host == inventory_hostname %}

# Renew /etc/letsencrypt/live/{{ item.domains|first }}/ certificate, SAN domains:{% for name in item.domains %} {{ name }}{% endfor %}

{{ time.m % 60 }} {{ time.h + (time.m - time.m % 60) // 60  }} 14 * * root /opt/letsencrypt/letsencrypt-auto certonly --webroot --webroot-path /var/www/letsencrypt {%- for name in item.domains %} -d {{ name }}{% endfor %} --renew-by-default 2>&1 | logger -t letsencrypt
{% endif %}
{% if time.update({'m': time.m + 5}) %}{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% if letsencrypt_reload_nginx %}

# reload nginx
{{ time.m % 60 }} {{ time.h + (time.m - time.m % 60) // 60  }} 14 * * root service nginx reload 2>&1 | logger -t letsencrypt
{% endif %}
